/* #sidebar {
   
    height: 80vh;
    top: 0;
    left: -250px;
    background-color: #111;
    transition: all 0.3s ease;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} */
#sidebari {
    grid-area: sidebar;
    height: 80%;
    background-color: rgb(183, 53, 53);
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.3s ease;
    background-color: #fffbfb;
    transition: all 0.3s ease;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    width:300px;
    
}
.sidebar-responsive {
    left: 0;
}


.icon_header {
    font-size: 24px;
}

.icon {
    margin-right: 10px;
    font-size: 18px;
}

.close_icon {
    cursor: pointer;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-list-item {
    padding: 15px 20px;
    border-bottom: 1px solid #333;
}

.sidebar-list-item:last-child {
    border-bottom: none;
}

.sidebar-list-item a {
    text-decoration: none;
    color: #ccc;
}

.sidebar-list-item a:hover {
    color: #fff;
}
